
.toDoListContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todoListTitle {
  align-self: center;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.li{p:hover{
  text-decoration:line-through;
}
}